@charset "utf-8";
/* CSS Document */
<style type="text/css">
h1 {
	font-size: x-large;
	color: #000;
	font-family:"黑体";
}

h2 {
	font-size: 15px;
	color:#000000;
	font-style:inherit;
	font-family:"宋体";
}
h4{
	font-size: larger;
	color: #F60;
	font-family:"宋体";
	font-style:inherit;
	
}
h4:link{color:#F60;}
h4:hover{color:#F60;}
h4.visted{color:#F60;}
h2:link{
	color:#000;
	text-decoration: none;
}
h2:hover{
	color: #fff;
	text-decoration: none;

}
h2.visited{
	color:#000;
	text-decoration: none;
	}
h3 {
	font-size: 15px;
	color: #fff;
	font-style:inherit;
	font-family:"宋体";
}
a:link {text-decoration: none;
	       color : #000;}
a:visited {	text-decoration: none;
	           color: #000;}
a:hover {text-decoration:underline;}
a:active {text-decoration: none;
	          color:#585858;}
body {
	font-size:medium;
	color:#000;
	font-family:"宋体";
	background-color: #585858;
	margin-top: 0px;
}
.d1{
	background-color:#000000;
	position:absolute;
	top:337px;
	width:181px;
	height:30px;
	right: 168px;
	filter:Alpha(opacity=80);
	opacity: 0.8;
	text-align: left;
	font-family:"Times New Roman", Times, serif;
	}
	a:link.s1{color:#ffffff;}
    a:visited.s1{color:#ffffff;}
    a:havor.s1{color:#FFFFFF;}
	a:active.s1{color:#ffffff;}
.footer{
	line-height:5pt;
	font-family:"楷书";
	font-size:12px;
}
.txt1{
	font-family:"黑体";
	font-size:30pt;
	color:#ff7d23;
	}
.txt2{
	font-family:"黑体";
	font-size:20pt;
}
.txt3 {
	font-size:medium;
	color:#000;
	font-family:"宋体";
}
.divcss
{
	border: 2px solid #ff7d23;
	clip: rect(10px,10px,10px,10px);
	width: 800px;
	text-align: center;
}
.divcss2
{
	border: 2px solid #ff7d23;
	clip: rect(10px,10px,10px,10px);
	width: 1000px;
	text-align: center;
}
.aptips {
	font-family: "宋体";
	color: #F00;
	font-weight: bold;
    width: 390px;
}
.toplnk {
	right: 80px;
	bottom: 10px;
	position: fixed;
	z-index: 99;
	height: 32px;
	width: 32px;
        clear:both;
 }

 .style1{
font-size: large;
font-weight: bold;
font-family: 黑体;
color: #FFFFFF;
 }
</style>
